@media (min-width: 1400px) {
    .container {
        width: 1200px
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1400px
    }
}

@media (min-width: 1800px) {
    .container {
        width: 1600px
    }
}

body {
    padding-right: 0 !important;
}

.method {
    min-width: 72px;
    color: silver;
    text-align: center;
}

.method-GET {
    color: #5cb85c;
}

.method-GET[href]:focus, .method-GET[href]:hover {
    color: #449d44;
}

.method-POST {
    color: #5bc0de;
}

.method-POST[href]:focus, .method-POST[href]:hover {
    color: #31b0d5;
}

.method-PUT {
    color: #f0ad4e;
}

.method-PUT[href]:focus, .method-PUT[href]:hover {
    color: #ec971f;
}

.method-DELETE {
    color: #d9534f;
}

.method-DELETE[href]:focus, .method-DELETE[href]:hover {
    color: #c9302c;
}

.method-OPTIONS {
    color: #337ab7;
}

.method-OPTIONS[href]:focus, .method-OPTIONS[href]:hover {
    color: #286090;
}

.method-HEAD {
    color: #777;
}

.method-HEAD[href]:focus, .method-HEAD[href]:hover {
    color: #5e5e5e;
}

.path {
    color: silver;
}

.path-GET {
    color: #5cb85c;
}

.path-POST {
    color: #5bc0de;
}

.path-PUT {
    color: #f0ad4e;
}

.path-DELETE {
    color: #d9534f;
}

.path-OPTIONS {
    color: #337ab7;
}

.path-HEAD {
    color: #777;
}

.panel {
    border-color: silver;
}

.panel > .panel-heading {
    border-color: silver;
}

.panel-GET {
    border-color: #5cb85c;
}

.panel-GET > .panel-heading {
    border-color: #5cb85c;
}

.panel-GET[href]:focus, .panel-GET[href]:hover {
    border-color: #449d44;
}

.panel-POST {
    border-color: #5bc0de;
}

.panel-POST > .panel-heading {
    border-color: #5bc0de;
}

.panel-POST[href]:focus, .panel-POST[href]:hover {
    border-color: #31b0d5;
}

.panel-PUT {
    border-color: #f0ad4e;
}

.panel-PUT > .panel-heading {
    border-color: #f0ad4e;
}

.panel-PUT[href]:focus, .panel-PUT[href]:hover {
    border-color: #ec971f;
}

.panel-DELETE {
    border-color: #d9534f;
}

.panel-DELETE > .panel-heading {
    border-color: #d9534f;
}

.panel-DELETE[href]:focus, .panel-DELETE[href]:hover {
    border-color: #c9302c;
}

.panel-OPTIONS {
    border-color: #337ab7;
}

.panel-OPTIONS > .panel-heading {
    border-color: #337ab7;
}

.panel-OPTIONS[href]:focus, .panel-OPTIONS[href]:hover {
    border-color: #286090;
}

.panel-HEAD {
    border-color: #777;
}

.panel-HEAD > .panel-heading {
    border-color: #777;
}

.panel-HEAD[href]:focus, .panel-HEAD[href]:hover {
    border-color: #5e5e5e;
}

.button {
    background-color: silver;
    color: white !important;
    width: 100%;
}

.button-GET {
    background-color: #5cb85c;
}

.button-GET[href]:focus, .button-GET[href]:hover {
    background-color: #449d44;
}

.button-POST {
    background-color: #5bc0de;
}

.button-POST[href]:focus, .button-POST[href]:hover {
    background-color: #31b0d5;
}

.button-PUT {
    background-color: #f0ad4e;
}

.button-PUT[href]:focus, .button-PUT[href]:hover {
    background-color: #ec971f;
}

.button-DELETE {
    background-color: #d9534f;
}

.button-DELETE[href]:focus, .button-DELETE[href]:hover {
    background-color: #c9302c;
}

.button-OPTIONS {
    background-color: #337ab7;
}

.button-OPTIONS[href]:focus, .button-OPTIONS[href]:hover {
    background-color: #286090;
}

.button-HEAD {
    background-color: #777;
}

.button-HEAD[href]:focus, .button-HEAD[href]:hover {
    background-color: #5e5e5e;
}

.tooltip-holder {
    cursor: pointer;
}

textarea {
    resize: none;
    font-size: 12px !important;
    outline: none;
    font-family: monospace;
    font-weight: 600;
    overflow: hidden;
}

.textarea-model {
    background-color: white !important;
    border: 0 !important;
    -webkit-box-shadow: inset 0 0 0 !important;
}

.table > tbody > tr > td {
    border: 0;
}

.table > thead > tr > th {
    border: 0;
}

#httpdoc-tags {
    border-right: 1px solid #f1f1f1;
}

.border-less {
    border: 0 !important;
}